run = "mcs './Aula_0626/Categoria.cs' './Aula_0626/NCategoria.cs' './Aula_0626/Produto.cs' './Aula_0626/NProduto.cs' './Aula_0626/Program.cs' './Aula_0626/Usuario.cs' './Aula_0626/NUsuario.cs' -out:Main.exe ; mono Main.exe"
#run = "python3 './Aula_0601/Ex01.py'"

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "mcs"]
